<head>
  <title>TODO LIST</title>
</head>

<body>
<div class="container">
	<header>
		<h1>ToDO List({{inCompleteCount}})</h1>

		<label class="hide-completed">
			<input type="checkbox" checked=" {{hideCompleted}} "/>
			Hide Completed Tasks
		</label>

		{{> loginButtons}}

		{{#if currentUser}}
		<form class="new-task">
			<input type="text" name="text" placeholder="Type to add new tasks"/>
		</form>
		{{/if}}
	</header>

  <ul>
  	{{#each tasks}}
  		{{> task}}
  	{{/each}}	
  </ul>
</div>  
</body>

<template name="hello">
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
</template>

<template name="task">
	<li class="{{#if checked}}checked{{/if}} {{#if private}}private{{/if}}">
		<button class="delete">&times;</button>
		<input type="checkbox" checked="{{checked}}" class="toggle-checked" />

		{{#if isOwner}}
		<button class="toggle-private">
		 {{#if private}}
		 Private
		 {{else}}
		 Public
		 {{/if}}		
		</button>
		{{/if}}

		<span class="text"><strong>{{username}}</strong> - {{text}}</span>
		 
	</li>
</template>